<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        title #{pageName}
    body
        header.barra
            h1 Uptask - Project admin
            a(href="#") Logout
            
        main.contenedor
            aside.contenedor-proyectos
                .panel.crear-proyecto
                    a(href="/new-project" class="boton") New project
                        span +
                .panel.lista-proyectos
                    h2 Projects
                    ul#proyectos.proyectos
                        li
                            a(href="#") Virtual store design
                        li
                            a(href="#") New blog design
                        li
                            a(href="#") Web host design
 
            block content                