extends layout

block content
    .contenido-principal
        h1 #{pageName}

        form.agregar-proyecto(action="/new-project" method="POST")
            .campo
                label(for="nombre") Nombre proyecto:
                input#nombre(type="text" name="nombre" placeholder="Nombre proyecto")
            .campo.enviar
                input.boton(type="submit", value="Agregar")
